
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root{
	--title-family: 'Poiret One', sans-serif;
}


*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}





body{

}
header{
	background: #403828;
	width: 100%;
	height: 60px;
	margin: 0;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-direction: row;
}


 h1{ 
	margin: auto 10px;
	font-family: var(--title-family);
	color: #C5A055;
	font-weight: 200;
 }



.menu
{
	margin: auto 40px;
}


.lista{
	display: flex;
	flex-direction: row;
}
.lista li 
{
	margin: auto 10px;
	list-style: none;

}


.lista li a
{
	text-decoration: none;
	color: white;
}

.pesquisar
{
	margin: auto 15px;
}


.pesquisar input[type="text"]{
	width: 85%;
 	float: left; 
 	height: 15px;
 	padding: 15px 10px; 
 	border: 1px solid #fff;
 	border-radius: 5px 0 0 5px;
 	outline: none;
 }
.pesquisar button
{
	width: 15%;
	height: 15px;
	float: right;
	padding: 15px 10px;
	background: rgba(197,160,85,10);
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border: 1px solid #C5A055;
	border-radius: 0 5px 5px 0;
	outline: none;
}
.pesquisar button:hover{
	transition: 0.5s;
	background: rgba(197,160,85,0.9);


	}

.inicio{
	width: 100%; 
	height: 250px;
	overflow: hidden;
	border-top: 1px solid #403828;
	background: url('../admin/img/fundo_livraria.png') no-repeat;
	background-size: cover; 
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.title
{
	margin: auto;
	height: 100px;
	width: 300px;
	border-top: 3px solid #C5A055;
	border-bottom: 3px solid #C5A055;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: 300;
}

.title h2{
	font-family: var(--title-family);
	font-size: 25pt;
	
}

/*Sessao*/
.principais
{
	margin: 20px 17%;
	height: 40px;
	border-bottom: 3px solid #C5A055;
	color: #555;
	font-family: 'Arial';
	font-weight: 200;
	padding-right: 1%;
	position: relative;
}


.linha
{
	margin: 50px auto;
	width: 70%;
	height: 360px;
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.produtos{
	border: 0.5px solid rgba(0,0,0,0.05);
	width: 240px;
	height: 340px;
	margin: 10px auto;
	font-family: 'Arial', sans-serif;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 4px 5px 4px rgba(0,0,0,0.2);
}
.img
{

	width: 140px;
	height: 200px;
	margin: 10px auto;
	overflow: hidden;
	padding: 0;
	box-sizing: border-box; 
}
.img img
{
	max-height: 200px;
	max-width: 140px;
}

.paragrafo{
	color: #555;
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	padding-left: 20px;
	margin-top: 20px;
	font-size: 15px;
	height: 32px;
}

.preco{
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	padding-left: 20px;
	margin-top: 20px;
	font-family: 'Arial';
	color: #333;
}
.promocao{
	color: #555;
	display: flex;
	justify-content: flex-start;
	box-sizing: border-box;
	padding-left: 20px;
	margin-top: 10px;
	font-size: 13px;
}
.categorias
{

}


footer
{
	width: 100%;
	height: 230px;
	background: #403828;
}
